/NCAA_Data
/dictionary.txt
/events.csv
/testing.py
/Elo_Extension_Working.xlsx
/Initial Results.docx
/Results.xlsx
/Results_v2.xlsx
/Results_v3.xlsx
/WCSF2023_abstract.docx
/revision-of-the-fifa-coca-cola-world-ranking.pdf
/HomeAdvResults.docx